<%- include('layouts/header-edit') %>

    <h2 class="mt-3">Daftar Galeri</h2>
    <div class="table-responsive">
        <table class="table table-bordered align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Aktif</th>
                    <th scope="col">Ubah</th>
                    <th scope="col">Hapus</th>
                </tr>
            </thead>
            <tbody>
                <% for(data of datas){ %>
                    <tr>
                        <td>
                            <% let no=datas.indexOf(data) %>
                                <%= no+1 %>
                        </td>
                        <td class="text-start">
                            <%= data.nama_galeri %>
                        </td>
                        <td class="text-start">
                            <%- data.detail_galeri %>
                        </td>
                        <td>
                            <img src="https://storage.googleapis.com/agungsatrio/galeri/<%= data.foto_galeri %>"
                                alt="Foto Berita" width="200px">
                        </td>
                        <td>
                            <%- data.aktif_galeri %>
                        </td>
                        <td>
                            <a class="nav-link" href="/dashboard/editgaleri/<%= data.id_galeri %>">
                                <span data-feather="edit"></span>
                            </a>
                        </td>
                        <td>
                            <a class="nav-link text-danger" href="/dashboard/deletegaleri/<%= data.id_galeri %>"
                                onclick="return confirm('Yakin?')">
                                <span data-feather="trash"></span>
                            </a>
                        </td>
                    </tr>
            </tbody>
            <% } %>
        </table>
        <h2 class="pt-5">Tambah Galeri</h2>
        <form action="/dashboard/createGaleri" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="namaGaleri" class="form-label">Nama</label>
                <input type="text" class="form-control" name="nama">
            </div>
            <div class="mb-3">
                <label for="detailGaleri" class="form-label">Detail Galeri</label>
                <textarea class="form-control" name="detail" rows="10" id="tiny"></textarea>
            </div>
            <div class="mb-3">
                <label for="fotoGaleri" class="form-label">Foto Galeri</label>
                <input class="form-control" type="file" name="foto" required>
            </div>
            <button type="submit" class="btn btn-primary">Tambah</button>
        </form>
    </div>

    <%- include('layouts/footer') %>