<%- include('layouts/header') %>

    <h2 class="mt-3">Overview</h2>
    <div class="table-responsive">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <% const user=datas[0] %>
                                <h5 class="card-title">
                                    Admin
                                </h5>
                                <h1>
                                    <%= user.length %>
                                </h1>
                                <a href="/dashboard/admin" class="nav-link"><span data-feather="info"
                                        class="align-text-top">
                                    </span> Detail
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <% const visimisi=datas[1] %>
                                <h5 class="card-title">
                                    Visi Misi
                                </h5>
                                <h1>
                                    <%= visimisi.length %>
                                </h1>
                                <a href="/dashboard/visimisi" class="nav-link"><span data-feather="info"
                                        class="align-text-top">
                                    </span> Detail
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <% const sambutan=datas[2] %>
                                <h5 class="card-title">
                                    Sambutan
                                </h5>
                                <h1>
                                    <%= sambutan.length %>
                                </h1>
                                <a href="/dashboard/sambutan" class="nav-link"><span data-feather="info"
                                        class="align-text-top">
                                    </span> Detail
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <% const kejuruan=datas[3] %>
                                <h5 class="card-title">
                                    Kejuruan
                                </h5>
                                <h1>
                                    <%= kejuruan.length %>
                                </h1>
                                <a href="/dashboard/kejuruan" class="nav-link"><span data-feather="info"
                                        class="align-text-top">
                                    </span> Detail
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <% const berita=datas[4] %>
                                <h5 class="card-title">
                                    Berita
                                </h5>
                                <h1>
                                    <%= berita.length %>
                                </h1>
                                <a href="/dashboard/berita" class="nav-link"><span data-feather="info"
                                        class="align-text-top">
                                    </span> Detail
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <% const galeri=datas[5] %>
                                <h5 class="card-title">
                                    Galeri
                                </h5>
                                <h1>
                                    <%= galeri.length %>
                                </h1>
                                <a href="/dashboard/galeri" class="nav-link"><span data-feather="info"
                                        class="align-text-top">
                                    </span> Detail
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('layouts/footer') %>