<%- include('layouts/header') %>

    <h2 class="mt-3">Daftar Sambutan</h2>
    <div class="table-responsive">
        <table class="table table-bordered align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Ubah</th>
                </tr>
            </thead>
            <tbody>
                <% for(row of rows){ %>
                    <tr>
                        <td>
                            <% let no = rows.indexOf(row) %>
                            <%= no+1 %>
                        </td>
                        <td class="text-start">
                            <%= row.nama_sambutan %>
                        </td>
                        <td class="text-start">
                            <%- row.detail_sambutan %>
                        </td>
                        <td>
                            <img src="/assets/images/sambutan/<%= row.foto_sambutan %>" alt="Foto Sambutan"
                                width="200px">
                        </td>
                        <td>
                            <a class="nav-link" href="/dashboard/editsambutan/<%= row.id_sambutan %>">
                                <span data-feather="edit"></span>
                            </a>
                        </td>
                    </tr>
            </tbody>
            <% } %>
        </table>
    </div>

    <%- include('layouts/footer') %>